.main-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 5;
    height: 70px;

}

.main-foot{
    display: block;
    height: 200px;
    margin: 0 auto;
    background-color: var(--turquoise);
    color: var(--white);
}

.socials{
    display: flex;
    justify-content: center;
    max-width:90%;
    margin: 0auto;
    padding: 0 auto

}