.main-head{
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem; */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 5;
    height: 100px;

}

.main-foot{
    display: block;
    height: 200px;
    margin: 0 auto;
    background-color: var(--blue);
    color: var(--white);
}

.socials{
    display: flex;
    justify-content: center;
    max-width:90%;
    margin: 0auto;
    padding: 0 auto

}