.nav-main{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.nav-main__list{
    align-items: flex-start;
    margin: 1rem 0;
    font-size: 1.5rem;
}

.nav-main__item{
    display: inline-block;
    padding: 0 1rem;
}

.nav-main__link{
    color: var(--dark-grey);
    text-decoration: none;
}