

.nav__list {
    display: flex;
}

.nav__list > li {
    padding: 0 1rem;
}

%nav__links {
    text-decoration: none;
    font-family: $font;
    color: $secondaryColor;
}

.nav__links {
    @extend %nav__links;
}

.nav__links:visited {
    @extend %nav__links;
}

.nav__icon {
    width: 1rem;
    height: 1rem;
}