@font-face{
    font-family: 'CaveatBrush';
    font-style: normal;
    font-weight: 400;
    src: url('../Fonts/CaveatBrush-Regular.ttf') format('truetype')
}

@font-face{
    font-family: 'Barlow' ;
    font-style: normal;
    font-weight: 700;
    src: url('../Fonts/Barlow-Bold.ttf') format('truetype')
}

@font-face{
    font-family: 'Barlow'  ;
    font-style: normal;
    font-weight: 200;
    src: url('../Fonts/Barlow-Light.ttf') format('truetype')
}

@font-face{
    font-family: 'Barlow'  ;
    font-style: italic;
    font-weight: 300;
    src: url('../Fonts/Barlow-Medium.ttf') format('truetype')
}

@font-face{
    font-family: 'Barlow'  ;
    font-style: normal;
    font-weight: 400;
    src: url('../Fonts/Barlow-Regular.ttf') format('truetype')
}

@font-face{
    font-family: 'Barlow'  ;
    font-style: normal;
    font-weight: 600;
    src: url('../Fonts/Barlow-Bold.ttf') format('truetype')
}

/* colors */

$primaryColor:  #13326e;
$secondaryColor: #041e57;
$tertiaryColor: #e6c921;
$darkGrey:  #3a3a3a;
$darkGreyHover:  #3a3a3a8e;
$lightGrey: #F7F7F7;
$white: #FEFEFE;

:root{
    --pink: #A68477;
    --turquoise: #458C8C;
    --blue:  #092C73;
    --grey: #D2D6D9;
    --dark-grey: #3a3a3a;
    --white: #FEFEFE;
}

body{
    font-family: 'Barlow', sans-serif;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    background-color: var(--white);
}


/* font pairing Archivo + Roboto */

@font-face {
    font-family: 'ArchivoBlack';
    font-style: normal;
    font-weight: 400;
    src: url('../Fonts/ArchivoBlack-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../Fonts/Roboto-Thin.ttf') format('truetype')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../Fonts/Roboto-Light.ttf') format('truetype')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../Fonts/Roboto-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../Fonts/Roboto-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../Fonts/Roboto-Black.ttf') format('truetype')
}


/* fonts */

$displayFont: "Roboto", helvetica, sans-serif;
$font: "Roboto", helvetica, sans-serif;



/* utilities */

.wrapper {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    background-color: var(--white);
}

.flex {
    display: flex;
}

.align-items {
    align-items: center;
}

/* Remove default links styling */
a {
    text-decoration: none;
    color: inherit;
}