/* Headings */

h1{
    font-family: 'CaveatBrush';
    font-size: 3rem;
    font-weight: 400;
    color: var(--navy);
}

h2{
    font-family: 'Dosis', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: var(--dark-grey);
    padding: 4rem 5rem;
    text-align: center;
}

h3{
    font-family: 'Dosis', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: var(--dark-grey);
}

h4{
    font-family: 'Dosis', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--dark-grey);
}

h5{
    font-family: 'Dosis', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--dark-grey);
}

h6{
    font-family: 'Dosis', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--dark-grey);
}

p{
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    word-spacing: 0.5rem;
    line-height: 1.5em;

}
time{
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    color: var(--dark-grey);
}

ul{
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    color: var(--dark-grey);
    margin-left: 1rem;
}






.hero__head{
    display: inline-block;
    color: var(--white);
    background-color: transparent;
    font-size:2rem;
    padding: 20% 5%;
    text-align: left;
    vertical-align: middle;
    line-height: 2.5rem ;
    
}



    






